<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated hTMLFormular -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="hTMLFormular.presentation.HTMLFormularModelWizardID"
            name="%_UI_HTMLFormularModelWizard_label"
            class="hTMLFormular.presentation.HTMLFormularModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/HTMLFormularModelFile.gif">
         <description>%_UI_HTMLFormularModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated hTMLFormular -->
      <editor
            id="hTMLFormular.presentation.HTMLFormularEditorID"
            name="%_UI_HTMLFormularEditor_label"
            icon="icons/full/obj16/HTMLFormularModelFile.gif"
            extensions="htmlformular"
            class="hTMLFormular.presentation.HTMLFormularEditor"
            contributorClass="hTMLFormular.presentation.HTMLFormularActionBarContributor">
      </editor>
   </extension>

</plugin>
